#my-calendar {
	thead {
		cursor: default;

		td {
			min-width: 30px;
		}

		td[colspan] {
			text-align: center;
			font-weight: bold;
		}

		tr:last-child {
			td {
				text-align: center;
			}
		}
	}

	tbody, tfoot {
		td, span {
			padding: 0;
			text-align: center;
			font-size: 14px;
		}

		span {
			display: inline-block;
			min-width: 40px;
		}

		.is-payed {
			color: white;
			background: green;
		}

		.un-payed {
			background: darkred;
			color: white;
		}
	}

	tbody td.free, tbody td.is-payed, tbody td.un-payed {
		cursor: pointer;
	}

	tfoot {
		td:first-child {
			text-align: right;
		}
	}

	td {
		vertical-align: middle;
		text-align: center;
		&.final {
			display: inline-flex;
			flex-direction: row;
		}
	}
}

.tooltip-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	cursor: pointer;
	&.is-payed, &.un-payed {
		min-width: 40px;
	}
}
.total {
	cursor: pointer;
	min-width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}